@font-face {
    font-family: 'Piazolla';
    src: url('../font/Piazzolla-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Piazolla';
    src: url('../font/Piazzolla-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'HeptaSlab';
    src: url('../font/HeptaSlab-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'HeptaSlab';
    src: url('../font/HeptaSlab-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SVG-Icons';
    src: url('../font/icomoon.woff') format('woff');
}