.main {
    position: relative;
    z-index: 1;
    // column-gap: 15px;
    margin-top: 15px;

    &_wrapper {
        display: flex;
        column-gap: 15px;
    }

    .left-section {
        width: 595px;
        min-height: 880px;

        .language-buttons {
            display: none;
        }
    }

    .right-section {
        width: 290px;
        min-height: 880px;
    }

    &_title-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: $primary-color;
        border-top-right-radius: $border-radius;
    }

    .title_radius {
        border-top-right-radius: 0;
        border-top-left-radius: $border-radius;
    }

    &_header,
    &_vidgets-header {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $third-color;
        margin-bottom: 0;
    }

    &_albums,
    &_vidgets {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        row-gap: 15px;
    }

    &_album {
        display: flex;
        width: 100%;
        flex-direction: column;

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            background-color: $secondary-color;
            border: $primary-color 6px solid;

            h3 {
                font-weight: 700;
                font-size: 40px;
                letter-spacing: 0.03em;
                text-align: center;
                color: $primary-color;
                margin-bottom: 0;
            }
        }

        &-block {
            margin-top: 15px;
            width: 100%;
            padding: 20px;
            min-height: 290px;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 40px;
        }

        &-img_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &-img-shadow {
            position: absolute;
            width: 210px;
            height: 210px;
            background: linear-gradient(45deg, $third-color 20%, $secondary-color 40%);
            filter: blur(8px);
            z-index: 1;
        }

        &-img {
            width: 200px;
            height: 200px;
            background-color: $secondary-color;
            z-index: 2;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 245px;
            row-gap: 2vw;


            div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                min-height: 3vw;
                margin-bottom: 0;
                background-color: $secondary-color;
                text-align: center;
                color: $primary-color;
                padding: 10px;

                span,
                p {
                    margin-right: 4px;
                    font-size: 20px;
                }

                p {
                    margin: 0;
                }
            }

            h4 {
                font-weight: 700;
                font-family: 'HeptaSlab';
                line-height: 125%;
                letter-spacing: 0.1em;
            }
        }
    }

    &_vidgets {
        font-size: 32px;
        position: sticky;
        top: 15px;
    }

    &_vidget {
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            border-top-left-radius: $border-radius;
            background-color: $primary-color;

            h3 {
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 0.03em;
                text-align: center;
                color: $third-color;
                margin-bottom: 0;
            }
        }

        &-element {
            margin-top: 15px;
            width: 290px;
            min-height: 290px;
            background-color: $primary-color;
        }

        &-element-flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}