@media (max-width: 1400px) {
    .language-buttons {
        right: 6%;
    }
}

@media (max-width: 1250px) {
    .language-buttons {
        left: 1%;
    }
}

@media (max-width: 1120px) {
    .language-buttons {
        width: 3vw;
        left: 0.5%;
    }
}

@media (max-width: 992px) {

    .language-buttons {
        display: none;
    }

    .main {
        &_wrapper {

            .mini-vidget-links {
                display: flex;
            }

            .left-section {
                width: 100vw;

                .language-buttons {
                    display: flex;
                    position: relative;
                    font-size: 3vw;
                    line-height: 3.4vw;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    width: 150px;
                    height: 80px;
                    // margin-top: 10px;
                }

                .main_title-block {
                    margin-top: 15px;
                }
            }

        }

        &_album {

            &-img {
                width: 250px;
                height: 250px;
            }

            &-img-shadow {
                width: 255px;
                height: 255px;
            }
        }


        .right-section {
            display: none;

            .main_vidgets {
                // margin-top: 9px;
            }
        }
    }

}

@media (max-width: 600px) {
    .header {
        &_button-wrapper {
            flex-direction: column;
            column-gap: 0;
            row-gap: 15px;
            padding-top: 30px;
        }

        &_button {
            margin: 0 auto;
            width: 80%;

            &:hover {
                background-color: $primary-color;
                color: $third-color;
            }

            &:first-child {
                width: 300px;
                height: 120px;
                font-size: 30px;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
                // flex-direction: column;
                transform: skewX(-16deg);
                background: $secondary-color url(../img/header/sakura.gif) center center / cover no-repeat;

                img,
                span {
                    transform: skewX(16deg);
                }

                img {
                    position: relative;
                    width: 120px;
                    height: 100px;
                    // left: -8px;
                }

                span {
                    // text-align: left;
                }
            }

            &:nth-child(2) {
                margin-top: 15px;
            }

            &:last-child {
                border-radius: 0;
            }
        }
    }

    .main {
        &_wrapper {

            .mini-vidget-links {}

            .left-section {

                .language-buttons {
                    width: 95%;
                    font-size: 4vw;

                    button:hover {
                        background-color: $primary-color;
                        color: $third-color;
                    }
                }

                .main_title-block {
                    width: 95%;
                    margin: 15px auto 0;
                    border-radius: 0;

                }
            }

        }

        // Skew эффект у данных карточек

        &_album {
            &-info {
                width: 35vw;

                div {
                    transform: skew(-16deg);

                    span,
                    p {
                        transform: skew(16deg);
                    }
                }
            }
        }

        // Skew эффект у данных карточек

        &_header {
            font-size: 6vw;
        }
    }

    .mini-vidget-links {

        .soundcloud-block,
        .vkgroup-block {
            height: 8vw;

            a {
                font-size: 3.5vw;
            }

            &:hover {
                background: $secondary-color;
            }
        }
    }

    .nav-pages {
        &_wrapper {
            height: 60px;
        }

        &_button {
            &:hover {
                background-color: $secondary-color;
            }

            &:hover>span {
                background-image: none;
            }
        }
    }
}

@media (max-width: 540px) {
    .main {
        &_album {
            &-block {
                flex-direction: column;
                column-gap: 0;
                row-gap: 20px;
            }

            &-img {
                width: 300px;
                height: 300px;
            }

            &-img-shadow {
                width: 305px;
                height: 305px;
            }

            &-info {
                width: 300px;
                row-gap: 4.5vw; //Для лучшей читаемости в Skew режиме

                div {

                    span,
                    p {
                        font-size: 5vw;
                    }
                }
            }
        }

    }

    .mini-vidget-links {

        .soundcloud-block,
        .vkgroup-block {
            height: 10vw;

            a {
                font-size: 4vw;
            }
        }
    }
}

@media (max-width: 360px) {

    .header {
        &_button {
            &:first-child {
                width: 80vw;
                height: 26vw;

                img {
                    width: 100%;
                    height: 100%;
                }

                span {
                    font-size: 8vw;
                }
            }
        }
    }

    .main {

        &_wrapper {
            .left-section {
                .language-buttons {
                    font-size: 6vw;
                }
            }
        }

        &_header {
            font-size: 8vw;

        }

        .mini-vidget-links {
            width: 85%;
            column-gap: 15px;

            .soundcloud-block,
            .vkgroup-block {
                height: 16vw;

                a {
                    font-size: 5vw;
                }
            }
        }

        &_album {
            &-header {
                // width: 95%;
                margin: 0 auto;
                height: auto;

                h3 {
                    font-size: 11vw;
                }
            }




            &-img {
                width: 80vw;
                height: 80vw;
            }

            &-img-shadow {
                width: 79vw;
                height: 79vw;
            }

            &-info {
                width: 80vw;

                div {

                    span,
                    p {
                        font-size: 7vw;
                    }
                }
            }

            &-block {
                margin: 15px auto 0;
                width: 95vw;
                padding: 5vw;
                row-gap: 15px;
            }
        }
    }

    .nav-pages {
        width: 95%;
        margin: 15px auto 0;

        &_wrapper {
            height: 60px;
        }

        &_button {
            width: 20%;
        }
    }

    .footer {
        width: 95%;
        margin: 15px auto 0;

        &-wrapper {
            height: auto;
        }
    }
}