@font-face {
    font-family: 'Zelda';
    /* Sakura-Links */
    src: url('../font/sakura-fonts/Zelda.otf') format('opentype');
}

@font-face {
    font-family: 'Sangha';
    /* Sakura-Links */
    src: url('../font/sakura-fonts/Sangha.ttf') format('truetype');
}

@font-face {
    font-family: 'AristaPro';
    /* Sakura-Links */
    src: url('../font/sakura-fonts/AristaPro.ttf') format('truetype');
}

* {
    font-family: 'AristaPro';
}

.background-wrapper {
    filter: blur(3px); //Опционально
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    // background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), url(../img/bg.jpg) center center / cover no-repeat;

    // background: linear-gradient(90deg, rgba(120, 151, 173, 0.25) 0.1%, rgba(0, 0, 0, 0.55) 60%, rgba(120, 100, 148, 0.2) 100%), url(../img/bg-sakura.jpg) center center / cover no-repeat;

    background: linear-gradient(90deg, rgba(120, 151, 173, 0.45) 0%, rgba(0, 0, 0, 0.38) 50%, rgba(120, 151, 173, 0.45) 100%), url(../img/xmas-theme/bg-newyork.jpg) center center / cover no-repeat;
    opacity: 0.98;


}

@media (max-width: 992px) {

    .background-wrapper {
        background: linear-gradient(90deg, rgba(120, 151, 173, 0.45) 0%, rgba(0, 0, 0, 0.38) 50%, rgba(120, 151, 173, 0.45) 100%), url(../img/xmas-theme/bg-mobile.jpeg) center center / cover no-repeat;
    }

}

.background-wrapper-gif {
    width: 100%;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
    background: url(../img/xmas-theme/snow.gif);
    background-size: 35% 110%;
    animation-name: snowfall;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-iteration-count: infinite;
    opacity: 0.2;
}

.background-border {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0px;
    z-index: 1;
    background: url(../img/xmas-theme/Christmas-frame.png) center center / cover no-repeat;
    opacity: 0.65;
}

.language-buttons {
    a {
        font-family: 'Piazolla';
    }
}

.header {
    nav>&_button~&_button {
        font-family: 'Sangha';
        font-weight: 400;
        font-size: 26px;
    }
}

.main {
    &_header {
        font-family: 'Zelda';
        font-size: 38px;
    }

    &_vidgets-header {
        font-family: 'Zelda';
        font-weight: 400;
        font-size: 36px;
    }

    &_vidget {
        &-header {
            h3 {
                margin-top: 6px;
            }
        }
    }

    &_album {

        &-header {
            h3 {
                margin-top: 6px;
            }
        }
    }
}

.nav-pages {
    &_button {
        &:hover>span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: url(../img/xmas-theme/snow.gif) center center / cover no-repeat;
        }
    }
}

.soundcloud-block:hover,
.vkgroup-block:hover {
    background: $third-color url(../img/xmas-theme/snow.gif) center center / 100% no-repeat !important;
}